.buttons-container{
	flex-direction: row;
	flex-wrap: wrap;
}

.quicktool-button-icon {
	height: 40px;
	width: 40px;
	opacity: 0.8;
}

.quicktool-button-icon:hover {
	opacity: 1;
}

.quicktool-button-icon:active > .quicktool-button-icon {
	opacity: 0.6;
}